body {
    margin: 0;
    padding: 0;
    background: green;
}

@media (min-width: 650px) {

    header#imageBaygon {
        background-image: url(baygon/arena.baygon.EDIT.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: #b6b8c4;

        min-height: 140px;
        width: auto;
        height: 140px;
        display: block;
        /*margin: auto auto auto auto;*/
    }
}

@media (min-width: 426px) and (max-width: 649px) {


    header#imageBaygon {
        background-image: url(baygon/arena.baygon.P2EDIT.jpg);
        background-repeat: no-repeat;
        background-color: #b6b8c4;
        background-size: contain;
        background-position: center;
        margin: -8px 0px 5px 0px;
        min-height: 140px;
        width: auto;
        height: 140px;
        display: block;
        /*margin: auto auto auto auto;*/
    }
}

@media (max-width: 425px) {


    header#imageBaygon {
        background-image: url(baygon/arena.baygon.P2EDIT.jpg);
        background-repeat: no-repeat;
        /* background-color: #b6b8c4; */
        background-size: contain;
        background-position: center;
        margin: -35px 0px -20px 0;
        min-height: 140px;
        width: auto;
        display: block;
        /*margin: auto auto auto auto;*/
    }
}

@media (min-width: 426px) {
    nav#login {
        padding: 0px 0px;
        margin-bottom: 47px;
        margin-right: 5px;
    }

    nav#login a {
        color: #F93;
        float: right;
        text-decoration: none;
        background-color: rgb(27, 170, 27);
        border: 1px solid black;
        padding: 2px 2px;
        margin-left: -1px;
    }

    nav#login a:hover {
        background-color: indianred;
    }
}

@media (max-width: 425px) {
    nav#login {
        padding: 0px 0px;
        margin-bottom: 42px;
        margin-right: 5px;
    }

    nav#login a {
        color: #F93;
        float: right;
        font-size: 14px;
        text-decoration: none;
        background-color: rgb(27, 170, 27);
        border: 1px solid black;
        padding: 2px 2px;
        margin-left: -1px;
    }

    nav#login a:hover {
        background-color: indianred;
    }
}

@media (min-width: 740px) {
    nav#menu ul {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        clear: both;
    }

    nav#menu ul li ul {
        display: none;
    }

    nav#menu li:hover ul{
        display: block;
        position: absolute;
        left: 1;
        width: 300px;
        text-align: left;
        padding: 0;
        background: blue;
        z-index: 1;
    }

    nav#menu li:hover ul li{
        display: block;
        margin: 0 0;
    }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li a {
        text-decoration: none;
        display: block;
        font: "Times New Roman";
        font-size: 30px;
        color: #F93;
        background-color: rgb(75, 75, 75);
        letter-spacing: -0.05em;
        padding: 10px 30px;
    }

    nav#menu li a:hover {
        background-color: indianred;
    }
}

@media (min-width: 580px) and (max-width: 739px) {
    nav#menu ul {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        clear: both;
    }

    nav#menu ul li ul {
        display: none;
    }

    nav#menu li:hover ul{
        display: block;
        position: absolute;
        left: 1;
        width: 250px;
        text-align: left;
        padding: 0;
        background: blue;
        z-index: 1;
    }

    nav#menu li:hover ul li{
        display: block;
        margin: 0 0;
    }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li a {
        text-decoration: none;
        display: block;
        font: "Times New Roman";
        font-size: 25px;
        color: #F93;
        background-color: rgb(75, 75, 75);
        letter-spacing: -0.05em;
        padding: 10px 23px;
    }

    nav#menu li a:hover {
        background-color: indianred;
    }
}

@media (min-width: 426px) and (max-width: 599px) {
    nav#menu ul {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        clear: both;
    }

    nav#menu ul li ul {
        display: none;
    }

    nav#menu li:hover ul{
        display: block;
        position: absolute;
        left: 1;
        width: 200px;
        text-align: left;
        padding: 0;
        background: blue;
        z-index: 1;
    }

    nav#menu li:hover ul li{
        display: block;
        margin: 0 0;
    }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li a {
        text-decoration: none;
        display: block;
        font: "Times New Roman";
        font-size: 20px;
        color: #F93;
        background-color: rgb(75, 75, 75);
        letter-spacing: -0.05em;
        padding: 10px 20px;
    }

    nav#menu li a:hover {
        background-color: indianred;
    }
}

@media (max-width: 425px) {
    nav#menu ul {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        margin-top: -30px;
        padding: 0px;
        clear: both;
    }

    nav#menu ul li ul {
        display: none;
        margin-top: 0px; /* Reajuste do dropmenu */
    }

    nav#menu li:hover ul{
        display: block;
        position: absolute;
        left: 1;
        width: 150px;
        text-align: left;
        padding: 0;
        background: blue;
        z-index: 1;
    }

    nav#menu li:hover ul li{
        display: block;
        margin: 0 0;
    }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -0.5px;
        margin-right: -0.5px;
        border: 1px solid #F93;
     }

    nav#menu li a {
        text-decoration: none;
        display: block;
        font: "Times New Roman";
        font-size: 16px;
        color: #F93;
        background-color: rgb(75, 75, 75);
        letter-spacing: -0.05em;
        padding: 5.9px;
    }

    nav#menu li a:hover {        
        background-color: indianred;
    }
}

input[type="button"] {
    cursor: pointer;
}

button.confirm-setup {
    cursor: pointer;
    margin: 5px;
    padding: 3px 5px;
    display: inline;
    flex-direction: row;
}

footer {
    width: 100%;
    /* NÃO CONSEGUI FAZER O BACKGROUND PREENCHER TODA A LARGURA DA PÁGINA */
    margin-top: 20px; /* PRECISO DEFINIR O MINIMO DA MARGEM, PARA O CASO DE A PÁGINA SER CURTA */
    margin-left:0px; /* PREENCHIDO O ESPAÇO DA ESQUERDA */
    margin-right: 0px;/* PREENCHIDO O ESPAÇO DA DIREITA, MAS AINDA É PRECISO OTIMIZAR PARA SMARTPHONES */
    margin-bottom: -10px; /* MARGEM DE SEGURANÇA */
    background-color: #bbbfc8;
    padding: 5px 0px 5px 0px;      
    clear: both; /* PARA EVITAR DE O FOOTER CHOCAR COM ELEMENTOS QUE ESTEJAM FLUTUANDO */
}