body {
    background: green;
}

header {
    background-color: #bbbfc8;
    margin: -10px -8px -16px -10px;
    width: auto;
}

nav#login {
    padding: 0px 0px;
    margin-bottom: 47px;
    margin-right: -5px;
}

nav#login a {
    background-color: rgb(27, 170, 27);
    border: 1px solid black;
    padding: 2px 2px;
    margin-left: -1px;
}

nav#login a:hover {
    background-color: indianred;
}

@media (min-width: 700px) {
    nav#menu ul {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        clear: both;
    }

    nav#menu ul li ul {
        display: none;
    }

    nav#menu li:hover ul{
        display: block;
        position: absolute;
        left: 1;
        width: 300px;
        text-align: left;
        padding: 0;
        background: blue;
        z-index: 1;
    }

    nav#menu li:hover ul li{
        display: block;
        margin: 0 0;
    }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li a {
        text-decoration: none;
        display: block;
        font: "Times New Roman";
        font-size: 30px;
        color: #F93;
        background-color: rgb(75, 75, 75);
        letter-spacing: -0.05em;
        padding: 10px 30px;
    }

    nav#menu li a:hover {
        background-color: indianred;
    }
}

@media (min-width: 580px) and (max-width: 719px) {
    nav#menu ul {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        clear: both;
    }

    nav#menu ul li ul {
        display: none;
    }

    nav#menu li:hover ul{
        display: block;
        position: absolute;
        left: 1;
        width: 250px;
        text-align: left;
        padding: 0;
        background: blue;
        z-index: 1;
    }

    nav#menu li:hover ul li{
        display: block;
        margin: 0 0;
    }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li a {
        text-decoration: none;
        display: block;
        font: "Times New Roman";
        font-size: 25px;
        color: #F93;
        background-color: rgb(75, 75, 75);
        letter-spacing: -0.05em;
        padding: 10px 23px;
    }

    nav#menu li a:hover {
        background-color: indianred;
    }
}

@media (max-width: 599px) {
    nav#menu ul {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        clear: both;
    }

    nav#menu ul li ul {
        display: none;
    }

    nav#menu li:hover ul{
        display: block;
        position: absolute;
        left: 1;
        width: 200px;
        text-align: left;
        padding: 0;
        background: blue;
        z-index: 1;
    }

    nav#menu li:hover ul li{
        display: block;
        margin: 0 0;
    }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -2px;
        margin-right: -2px;
        border: 1px solid #F93;
     }

    nav#menu li a {
        text-decoration: none;
        display: block;
        font: "Times New Roman";
        font-size: 20px;
        color: #F93;
        background-color: rgb(75, 75, 75);
        letter-spacing: -0.05em;
        padding: 10px 20px;
    }

    nav#menu li a:hover {
        background-color: indianred;
    }
}

footer {
    /* NÃO CONSEGUI FAZER O BACKGROUND PREENCHER TODA A LARGURA DA PÁGINA */
    margin-top: 20px; /* PRECISO DEFINIR O MINIMO DA MARGEM, PARA O CASO DE A PÁGINA SER CURTA */
    margin-left: -10px; /* PREENCHIDO O ESPAÇO DA ESQUERDA */
    margin-right: -8px; /* PREENCHIDO O ESPAÇO DA DIREITA, MAS AINDA É PRECISO OTIMIZAR PARA SMARTPHONES */
    margin-bottom: -10px; /* MARGEM DE SEGURANÇA */
    background-color: #bbbfc8;
    padding: 5px 10px; 
    width: auto;        
    clear: both; /* PARA EVITAR DE O FOOTER CHOCAR COM ELEMENTOS QUE ESTEJAM FLUTUANDO */
}